@charset "UTF-8";
/* CSS Document */

#one {
	width: 200px;
	height: 200px;
	/*background-color: green
	/*background-color: rgb(0,255,0);*/
	background-color: hsl(150,100%,50%);
	/*The is for Alpha (aka transparency)*/
	/*background-color: rgba();*/
}

body {
	/*background-color: red;*/
	/*background-image: url(../images/flowers.png);*/
	background-blend-mode: multiply;
	
	/*background: linear-gradient(red, yellow, blue);*/
	
	background: linear-gradient()
		
}