@charset "UTF-8";
/* CSS Document */

body {
	background: radial-gradient(black, magenta, white);
	background: url(../Images/galaxy.jpeg) fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	
}

p {
	
	
}